Astronomy_NIFI_linear_server_template.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>NIFI template file for Astronomy Linear server</description>
  <groupId>d0b8eb48-0159-1000-84b1-e927546235ab</groupId>
  <name>Astronomy_NIFI_linear_server_template</name>
  <snippet>
    <connections>
      <id>68557495-015a-1000-0000-000000000000</id>
      <parentGroupId>d0b8eb48-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>68518131-015a-1000-0000-000000000000</groupId>
        <id>6855113d-015a-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>d0b8eb48-0159-1000-0000-000000000000</groupId>
        <id>6852749c-015a-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <inputPorts>
      <id>6852749c-015a-1000-0000-000000000000</id>
      <parentGroupId>d0b8eb48-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>77.4141845703125</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>AST_Linear_Port_External</name>
      <state>STOPPED</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>68518131-015a-1000-0000-000000000000</id>
      <parentGroupId>d0b8eb48-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>134.41416931152344</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>68552fdc-015a-1000-0000-000000000000</id>
          <parentGroupId>68518131-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>68518131-015a-1000-0000-000000000000</groupId>
            <id>d0bb9881-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>68518131-015a-1000-0000-000000000000</groupId>
            <id>6855113d-015a-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>6855113d-015a-1000-0000-000000000000</id>
          <parentGroupId>68518131-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>643.0</x>
            <y>169.00001525878906</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Ast_Linear_Port_Internal</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>d0e0f8c1-0159-1000-0000-000000000000</id>
          <parentGroupId>68518131-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>614.0</x>
            <y>79.00001525878906</y>
          </position>
          <height>199.0</height>
          <label>         Receives LINEAR requests and stores them locally
                        until they are scheduled for processing</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#0c570a</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>22px</value>
            </entry>
          </style>
          <width>725.0</width>
        </labels>
        <labels>
          <id>d0e64557-0159-1000-0000-000000000000</id>
          <parentGroupId>68518131-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>638.6492343299407</x>
            <y>307.3623635436378</y>
          </position>
          <height>252.31228637695312</height>
          <label>Executes LINEAR requests in DOCKER SWARM:
1. Scheduled to checks for existing requests locally.
2. Executes requests in the DOCKER SWARM.
3. If desired, uploads results to specific location (e.g., AWS S3 bucket).</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#6b0404</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>22px</value>
            </entry>
          </style>
          <width>717.9262084960938</width>
        </labels>
        <processors>
          <id>d0bb9881-0159-1000-0000-000000000000</id>
          <parentGroupId>68518131-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>968.5290028363256</x>
            <y>141.08416516467207</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/home/ubuntu/requests/ast/in/${userid}/${path}</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>777</value>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Keep Incoming Requests</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>d0e38679-0159-1000-0000-000000000000</id>
          <parentGroupId>68518131-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>853.7393796588669</x>
            <y>426.0762401902357</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Command</key>
                <value>
                  <name>Command</name>
                </value>
              </entry>
              <entry>
                <key>Command Arguments</key>
                <value>
                  <name>Command Arguments</name>
                </value>
              </entry>
              <entry>
                <key>Batch Duration</key>
                <value>
                  <name>Batch Duration</name>
                </value>
              </entry>
              <entry>
                <key>Redirect Error Stream</key>
                <value>
                  <name>Redirect Error Stream</name>
                </value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>
                  <name>Argument Delimiter</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Command</key>
                <value>python</value>
              </entry>
              <entry>
                <key>Command Arguments</key>
                <value>/home/ubuntu/poc_scripts/nifi_python_ast.py</value>
              </entry>
              <entry>
                <key>Batch Duration</key>
              </entry>
              <entry>
                <key>Redirect Error Stream</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value> </value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>3 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Execute PAC</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
        </processors>
      </contents>
      <name>AST_Linear_Server</name>
    </processGroups>
  </snippet>
  <timestamp>09/19/2017 15:21:58 UTC</timestamp>
</template>