old/jpl_obs_nifi_template.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Template for JPL earth science Observation server</description>
  <groupId>d0b8eb48-0159-1000-84b1-e927546235ab</groupId>
  <name>jpl_obs_nifi_template</name>
  <snippet>
    <connections>
      <id>69274d10-015a-1000-0000-000000000000</id>
      <parentGroupId>d0b8eb48-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6925913f-015a-1000-0000-000000000000</groupId>
        <id>d0bcefdf-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>d0b8eb48-0159-1000-0000-000000000000</groupId>
        <id>d0bcefdf-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <inputPorts>
      <id>d0bcefdf-0159-1000-0000-000000000000</id>
      <parentGroupId>d0b8eb48-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>32.82974615211651</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>JPL_Obs_Server_External_Port</name>
      <state>STOPPED</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>6925913f-015a-1000-0000-000000000000</id>
      <parentGroupId>d0b8eb48-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>144.5975054577401</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>d0bd16bb-0159-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6925913f-015a-1000-0000-000000000000</groupId>
            <id>d0bb9881-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6925913f-015a-1000-0000-000000000000</groupId>
            <id>d0bcefdf-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ec8bc564-015a-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6925913f-015a-1000-0000-000000000000</groupId>
            <id>ec8b9d49-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6925913f-015a-1000-0000-000000000000</groupId>
            <id>d0bb9881-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>d0bcefdf-0159-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>568.5290094235121</x>
            <y>205.0841584537544</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>JPL_Obs_Server_Internal_Port</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>d0e0f8c1-0159-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>532.0000065871865</x>
            <y>103.0000085478714</y>
          </position>
          <height>196.9564208984375</height>
          <label>         Receives OBSERVATION (e.g., GPM) requests and stores them locally
                        until they are scheduled for processing</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#6ca36b</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>22px</value>
            </entry>
          </style>
          <width>770.5865478515625</width>
        </labels>
        <labels>
          <id>d0e64557-0159-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>563.6492409171271</x>
            <y>334.36235683272014</y>
          </position>
          <height>252.31228637695312</height>
          <label>Executes OBSERVATION (e.g., GPM) requests in DOCKER SWARM:
1. Scheduled to checks for existing requests locally.
2. Executes requests in the DOCKER SWARM.
3. If desired, uploads results to specific location (e.g., AWS S3 bucket).</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#cc6e6e</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>22px</value>
            </entry>
          </style>
          <width>717.9262084960938</width>
        </labels>
        <processors>
          <id>d0bb9881-0159-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>893.5290094235121</x>
            <y>168.0841584537544</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/home/ubuntu/requests/jpl/in/${userid}/${path}</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>777</value>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Keep Incoming Requests</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>d0e38679-0159-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>778.7393862460534</x>
            <y>453.07623347931803</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Command</key>
                <value>
                  <name>Command</name>
                </value>
              </entry>
              <entry>
                <key>Command Arguments</key>
                <value>
                  <name>Command Arguments</name>
                </value>
              </entry>
              <entry>
                <key>Batch Duration</key>
                <value>
                  <name>Batch Duration</name>
                </value>
              </entry>
              <entry>
                <key>Redirect Error Stream</key>
                <value>
                  <name>Redirect Error Stream</name>
                </value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>
                  <name>Argument Delimiter</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Command</key>
                <value>python</value>
              </entry>
              <entry>
                <key>Command Arguments</key>
                <value>/home/ubuntu/poc_scripts/nifi_python_jpl.py</value>
              </entry>
              <entry>
                <key>Batch Duration</key>
              </entry>
              <entry>
                <key>Redirect Error Stream</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value> </value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>3 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Execute PAC</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
        </processors>
        <processors>
          <id>ec8b9d49-015a-1000-0000-000000000000</id>
          <parentGroupId>6925913f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1292.0</x>
            <y>161.00003051757812</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>request_received</key>
                <value>
                  <name>request_received</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>request_received</key>
                <value>${now():toNumber()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>JPL_Obs_Server</name>
    </processGroups>
  </snippet>
  <timestamp>09/19/2017 15:18:34 UTC</timestamp>
</template>